name: Build Android APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.22.0'

    - name: Install Dependencies
      run: |
        pip install --upgrade pip
        pip install flet
        pip install cookiecutter

    - name: Build APK
      run: |
        flet build apk -v

    # --- MAGIC FIX HERE ---
    # Hum "**/*.apk" use kar rahe hain taaki wo file kahin bhi ho, mil jaye.
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: Election-App-APK
        path: "**/*.apk"
